* {
    box-sizing: border-box;
    margin:0;
}

#logo {
    width: 40%;
}

header {
    background-color: black;
}

.buttons {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.btn {
    background-color: rgb(255, 102, 0);
    border: 1px solid white;
    font-weight: bold;
    color: white;
}

.navbar {
    padding-bottom: 50px;
}

#herocontent {
    text-align: center;
    color: white;
    padding: 100px;
}

#herocontainer {
    margin: 0 auto;
    background:rgba(0, 0, 0, 0.75);
    border-radius: 20px;
}

#testimonials {
    padding: 50px 0;
    text-align: center;
    background-color: rgb(255, 102, 0);
}

#customerstatement1 {
    color: black;
}

#customerstatement2 {
    color: black;
    padding-bottom: 30px;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    color: white;
}

em {
    color: white;
    display: block;
}

footer {
    text-align: center;
    background: black;
    color: white;
    padding: 50px;
}

i {
    font-size: 2rem;
    padding: 10px;
}

#disclaimer {
    color: red;
}

#contact {
    width: 25%;
}

@media screen and (max-width: 968px) {
    
    #herocontent {
        padding: 60px;
    }
}

@media screen and (max-width: 480px) {
    
    #herocontent {
        padding: 40px;
    }

    .testimonial-image {
        width: 30%;
    }

    #logo {
        width: 60%;
        padding-bottom: 10px;
    }

    #searchbar {
       margin: 0 auto;

    }

    .logocontainer {
        text-align: center;
    }
}
